<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>WikiCraft</title>
  <link href="../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="icon" href="../images/favicon.png" type="image/x-icon">
  <link href="../css/styles.css" rel="stylesheet">
</head>

<body bg-light>
  <nav class="navbar navbar-expand-lg navbar-dark shadow-sm">
    <div class="container">
      <a class="minecraft-logo" href="../views/Index.html"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="../views/Index.html">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../views/bloques.html">Bloques</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../views/mobs.html">Mobs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../views/crafteos.html">Crafteos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">Alquimia</a>
          </li>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../views/comunidad.html">Comunidad</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <section class="py-5 text-center text-white" fill="#eceeef">
    <div class="container">
      <h2 class="display-4">Las pociones en minecraft</h2>
      <p class="lead text-center">Todo lo que necesitas saber para sobrevivir y construir en el mundo de Minecraft.</p>
    </div>
  </section>

  <br>

  <div class="container main-content-section">
    <div class="row g-5 text-white-soft text-justificate margin: 0 15px;" style="margin: 0 15px; font-family: 'Arial'">
      <div class="col-md-8">
        <article class="blog-post">
          <h2 class="py-4">La alquimia en Minecraft</h2>
          <p>Mediante la alquimia, es posible elaborar pociones que aumenten la velocidad, mejoren la regeneración,
            permitan respirar bajo el agua, dañen enemigos, entre muchos otros efectos.
            Las pociones pueden consumirse directamente, lanzarse o aplicarse de manera persistente en un área.</p>
          <p>El sistema de alquimia combina exploración, recolección de recursos y planificación, ya que muchos
            ingredientes requieren que el jugador viaje a distintos biomas o dimensiones,
            prepare cultivos especiales o derrote criaturas peligrosas para obtener materiales valiosos.</p>
          <p>La alquimia es una de las disciplinas fundamentales de Minecraft, ocupando un lugar tan importante como los
            circuitos de redstone o los encantamientos,
            y ofrece a los jugadores una amplia variedad de estrategias tanto en exploración como en combate.</p>
          <hr>
          <h2 class="py-4">Instrumentos de alquimia</h2>
          <p>La práctica de la alquimia en Minecraft depende de varios instrumentos fundamentales que permiten preparar,
            modificar y aplicar pociones de forma efectiva.
            Estos elementos interactúan entre sí durante el proceso de elaboración y son indispensables para que las
            pociones puedan crearse y utilizarse correctamente, para dichos procesos se necesitara principalmente un
            soporte para pociones,
            frascos con agua, una mesa de fabricacion y un caldero en caso de que se quiera encantar flechas.
          </p>
          <img src="/images/alquimiapng/Instrumentos-necesarios.png"
            alt="Imagen de los instrumentos necesarios para las pociones"
            class="img-fluid mt-3 rounded shadow center-img">
          <hr>
          <h2 class="py-4">Interfaz del soporte para pociones.</h2>
          <p>Al hacer clic derecho sobre un soporte para pociones, se abre una interfaz con cinco espacios principales:
          </p>
          <ol>
            <li>Tres espacios inferiores (en la parte baja de la interfaz): están destinados a colocar botellas de agua,
              pociones base o pociones ya elaboradas. Puedes llenar estos espacios con hasta tres botellas a la vez, lo
              que permite crear o modificar tres pociones simultáneamente. </li>
            <li>Espacio superior: aquí se coloca el ingrediente principal que determinará el efecto de la poción. Este
              ingrediente se aplicará a todos los frascos que se encuentren en los espacios inferiores, siempre y cuando
              sean compatibles.</li>
            <li>Espacio lateral izquierdo: reservado exclusivamente para el polvo de blaze, que funciona como
              combustible
              para el proceso de elaboración. Cada unidad de polvo de blaze permite realizar múltiples operaciones, por
              lo que es una fuente eficiente de energía para la alquimia.</li>
          </ol>
          <img src="/images/alquimiapng/intSoporte.png" alt="Imagen de los instrumentos necesarios para las pociones"
            class="img-fluid mt-3 rounded shadow center-img">
          <hr>
          <h2 class="py-4">Ingredientes base</h2>
          <p>Los ingredientes base son aquellos que se utilizan al inicio del proceso de destilación, colocándolos sobre
            botellas de agua para obtener una poción base sin efectos, necesaria para elaborar pociones con efecto.
          </p>
          <p> La verruga del Nether es el ingrediente base principal; al ser destilada en frascos con agua, produce la
            poción rara, utilizada para crear la mayoría de las pociones con efecto.</p>
          <img src="/images/alquimiapng/Ingredientes-base.png"
            alt="Imagen de los instrumentos necesarios para las pociones"
            class="img-fluid mt-3 rounded shadow center-img">
          <p></p>
          <p>El redstone, la vara de breeze, la piedra, el bloque de slime, la telaraña, la bola de magma, la pata de
            conejo,
            el azúcar, la sandía brillante, el ojo de araña, la lágrima de ghast y el polvo de blaze también pueden
            destilarse
            en frascos con agua, generando la poción banal, que actualmente no tiene utilidad práctica en alquimia.</p>
          <hr>
          <h2>Ingredientes de efecto</h2>
          <p>Los ingredientes de efecto se utilizan para imbuir a la poción rara con un efecto específico, sin alterar
            su duración
            ni su intensidad. Si alguno de estos ingredientes se destila directamente en una botella de agua —sin una
            poción base, el resultado será una poción banal. La única excepción es la zanahoria dorada, que no puede ser
            destilada
            directamente en agua para crear una poción.
          </p>
          <ul>
        </article>
        <h3> Tabla pociones</h3>
        <table class="table">
          <thead>
            <tr style="color: aliceblue;">
              <th>Ingrediente</th>
              <th>Efecto</th>
              <th>Descripción</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><img src="/images/alquimiapng/azucar.png"></td>
              <td>Velocidad </td>
              <td>Otorga un aumento temporal en la velocidad de movimiento.
              </td>
            </tr>
            <tr>
              <td><img src="/images/alquimiapng/pataConejo.png"></td>
              <td>Super salto</td>
              <td>Aumenta temporalmente la distancia y altura de salto.</td>
            </tr>
            <tr>
              <td><img src="/images/alquimiapng/polvoBlaze.png"></td>
              <td>Fuerza</td>
              <td>Otorga un aumento temporal al daño cuerpo a cuerpo.</td>
            </tr>
            <tr>
              <td><img src="/images/alquimiapng/melonOro.png"></td>
              <td>Curación instantánea</td>
              <td>Restaura instantáneamente parte de la salud del usuario.</td>
            </tr>
            <tr>
              <td><img src="/images/alquimiapng/lagrimaGhast.png"></td>
              <td>regeneración</td>
              <td>Restaura constantemente la salud del usuario durante la duración del efecto.</td>
            </tr>
            <tr>
              <td><img src="/images/alquimiapng/pezGlobo.png"></td>
              <td>Respiración</td>
              <td>Permite respirar bajo el agua durante un tiempo limitado.</td>
            </tr>
            <tr>
              <td><img src="/images/alquimiapng/cremaMagma.png"></td>
              <td>Resistencia al fuego</td>
              <td>Protege contra el daño de fuego y lava.</td>
            </tr>
            <tr>
              <td><img src="/images/alquimiapng/zanOro.png"></td>
              <td>Visión Nocturna</td>
              <td>Permite ver claramente en condiciones de oscuridad total.</td>
            </tr>
            <tr>
              <td><img src="/images/alquimiapng/cascoTortuga.png"></td>
              <td>Lentitud Resistencia</td>
              <td>Reduce temporalmente la velocidad
                de movimiento y el daño recibido.</td>
            </tr>
            <tr>
              <td><img src="/images/alquimiapng/membranaFant.png"></td>
              <td>Caída lenta</td>
              <td>Reduce la velocidad de caída y
                previene el daño por impacto.</td>
            </tr>
            <tr>
              <td><img src="/images/alquimiapng/cargaViento.png"></td>
              <td>Vendaval</td>
              <td> Al morir, el usuario libera una onda de choque
                que empuja a los enemigos cercanos.</td>
            </tr>
            <tr>
              <td><img src="/images/alquimiapng/telaraña.png"></td>
              <td>Tejedura</td>
              <td>Al morir, el usuario deja una telaraña en su posición.
              </td>
            </tr>
            <tr>
              <td><img src="/images/alquimiapng/bloqueSlime.png"></td>
              <td>Mucosidad</td>
              <td>Mientras dura el efecto, existe una probabilidad
                de que, al morir, el usuario genere un slime.</td>
            </tr>
            <tr>
              <td><img src="/images/alquimiapng/piedra.png"></td>
              <td>Infestacion</td>
              <td> Mientras dura el efecto, existe una probabilidad
                de que al recibir daño o morir, el usuario genere un silverfish.</td>
            </tr>
            <tr>
          </tbody>
        </table>
        <h3>Tabla modificadores </h3>
        <table class="table ">
          <thead>
            <tr>
              <th>Icono</th>
              <th>Nombre</th>
              <th>Efecto</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><img src="/images/alquimiapng/polvoRedstone.png"></td>
              <td>Polvo de redstone </td>
              <td>Incrementa la duración
              </td>
            </tr>
            <tr>
              <td><img src="/images/alquimiapng/glowstone.png"></td>
              <td>Polvo de piedra luminosa</td>
              <td>Incrementa la potencia</td>
            </tr>
            <tr>
              <td><img src="/images/alquimiapng/polvora.png"></td>
              <td>Polvora</td>
              <td>Se convierte en una poción arrojadiza.</td>
            </tr>
            <tr>
              <td><img src="/images/alquimiapng/alientoDragon.png"></td>
              <td>Aliento de dragon</td>
              <td>Se convierte en una poción persistente.</td>
            </tr>
            <tr>
              <td><img src="/images/alquimiapng/ojoArañaFermentado.png"></td>
              <td>Ojo de araña fermentado</td>
              <td>Corrompe el efecto(otorga un efecto contrario al de la pocion).</td>
            </tr>
            <tr>
          </tbody>
        </table>
        </article>
      </div>


      <div class="col-md-4">
        <div class="p-4 mb-3 .bg-body-tertiary rounded">
          <h2 class="py-4">Importante</h2>
          <p class="mb-0">
            A continuacion tienes un mapa de todas las recetas posibles con los ingredientes mencionados en las tablas
          </p>
          <img src="/images/alquimiapng/Alquimia-Recetas.webp" alt="Imagen de las distintas combinaciones"
            class="img-fluid mt-3 rounded shadow">
        </div>
      </div>
    </div>
  </div>

  </main>

  <footer class="py-4 text-center">
    <div class="container">
      <small>© 2025 Grupo más lindo de la FISEI.</small>
    </div>
  </footer>
  <script defer src="../assets/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"></script>

</body>

</html>