<!DOCTYPE html>
<implements{{sprite}} lua>
  <html lang="es">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WikiCraft</title>
    <link href="../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" href="../images/favicon.png" type="image/x-icon">
    <link href="../css/styles.css" rel="stylesheet">

    <head>

      <link href="../css/styles.css" rel="stylesheet">
      <style>
        body {
          background: url('../images/bg-oscuro.webp') no-repeat center center fixed;
          background-size: cover;
          font-family: 'Minecraft', sans-serif;
          color: #171615;
        }
      </style>
    </head>
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-dark shadow-sm">
      <div class="container">
        <a class="minecraft-logo" href="#"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link active" href="#">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/bloques">Bloques</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/mobs">Mobs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/recetas">Recetas</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>


    <section class="py-5 text-center text-white" fill="#eceeef">
      <div class="container">
        <h1 class="display-4">Las pociones en minecraft</h1>
        <p class="lead">Todo lo que necesitas saber para sobrevivir y construir en el mundo de Minecraft.</p>
      </div>
    </section>

    <nav class="row mb-2 text-white">
      <div class="col-md-6 #d8d8d8	">
        <div
          class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative bg-dark text-white">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2">Quizás te interese...</strong>
            <h3 class="mb-0">Curiosidades de los bloques en Minecraft</h3>
            <p class="card-text mb-auto">Conoce un poco sobre los principales items en el juego</p>
            <a href="#" class="icon-link gap-1 icon-link-hover stretched-link text-white text-decoration-none">
              Seguir leyendo
              <svg class="bi" aria-hidden="true">
                <use xlink:href="#chevron-right" />
              </svg>
            </a>
          </div>
          <div class="col-auto d-none d-lg-block">
            <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img"
              aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice">
              <title>Placeholder</title>
              <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                dy=".3em">Thumbnail</text>
            </svg>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div
          class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative bg-dark text-white">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 ">Podria interesarte...</strong>
            <h3 class="mb-0">Mobs</h3>
            <p class="mb-auto">Conoce informacion importante acerca de los mobs dentro del juego
            </p>
            <a href="#" class="icon-link gap-1 icon-link-hover stretched-link text-white text-decoration-none">
              Seguir leyendo
              <svg class="bi" aria-hidden="true">
                <use xlink:href="#chevron-right" />
              </svg>
            </a>
          </div>
          <div class="col-auto d-none d-lg-block">
            <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img"
              aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice">
              <title>Placeholder</title>
              <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                dy=".3em">Thumbnail</text>
            </svg>
          </div>
        </div>
      </div>
    </nav>

    <div class="row g-5 text-white-soft text-justificate">
      <div class="col-md-8">
        <article class="blog-post">
          <h2 class=" text-white-soft">La alquimia en Minecraft</h2>

          <p>Mediante la alquimia, es posible elaborar pociones que aumenten la velocidad, mejoren la regeneración,
            permitan respirar bajo el agua, dañen enemigos, entre muchos otros efectos.
            Las pociones pueden consumirse directamente, lanzarse o aplicarse de manera persistente en un área.</p>
          <p>El sistema de alquimia combina exploración, recolección de recursos y planificación, ya que muchos
            ingredientes requieren que el jugador viaje a distintos biomas o dimensiones,
            prepare cultivos especiales o derrote criaturas peligrosas para obtener materiales valiosos.</p>
          <p>La alquimia es una de las disciplinas fundamentales de Minecraft, ocupando un lugar tan importante como los
            circuitos de redstone o los encantamientos,
            y ofrece a los jugadores una amplia variedad de estrategias tanto en exploración como en combate.</p>
          <hr>
          <h2 class="text-justificate">1 Instrumentos de alquimia</h2>
          <p>La práctica de la alquimia en Minecraft depende de varios instrumentos fundamentales que permiten preparar,
            modificar y aplicar pociones de forma efectiva.
            Estos elementos interactúan entre sí durante el proceso de elaboración y son indispensables para que las
            pociones puedan crearse y utilizarse correctamente, para dichos procesos se necesitara principalmente un
            soporte para pociones,
            frascos con agua, una mesa de fabricacion y un caldero en caso de que se quiera encantar flechas.
          </p>
          <img src="/images/alquimiapng/Instrumentos-necesarios.png"
            alt="Imagen de los instrumentos necesarios para las pociones"
            class="img-fluid mt-3 rounded shadow center-img">

          <h3>2 Interfaz del soporte para pociones.</h3>
          <p>Al hacer clic derecho sobre un soporte para pociones, se abre una interfaz con cinco espacios principales:
          </p>
          <ol>
            <li>Tres espacios inferiores (en la parte baja de la interfaz): están destinados a colocar botellas de agua,
              pociones base o pociones ya elaboradas. Puedes llenar estos espacios con hasta tres botellas a la vez, lo
              que permite crear o modificar tres pociones simultáneamente. </li>
            <li>Espacio superior: aquí se coloca el ingrediente principal que determinará el efecto de la poción. Este
              ingrediente se aplicará a todos los frascos que se encuentren en los espacios inferiores, siempre y cuando
              sean compatibles.</li>
            <li>Espacio lateral izquierdo: reservado exclusivamente para el polvo de blaze, que funciona como
              combustible
              para el proceso de elaboración. Cada unidad de polvo de blaze permite realizar múltiples operaciones, por
              lo que es una fuente eficiente de energía para la alquimia.</li>
          </ol>
          <img src="/images/alquimiapng/intSoporte.png" alt="Imagen de los instrumentos necesarios para las pociones"
            class="img-fluid mt-3 rounded shadow center-img">
          <h3 class="text-justificate">3 Ingredientes base</h3>
          <p>Los ingredientes base son aquellos que se utilizan al inicio del proceso de destilación, colocándolos sobre
            botellas de agua para obtener una poción base sin efectos, necesaria para elaborar pociones con efecto.
          </p>
          <p> La verruga del Nether es el ingrediente base principal; al ser destilada en frascos con agua, produce la 
            poción rara, utilizada para crear la mayoría de las pociones con efecto.</p>
          <img src="/images/alquimiapng/Ingredientes-base.png"
            alt="Imagen de los instrumentos necesarios para las pociones"
            class="img-fluid mt-3 rounded shadow center-img">
          <p>El redstone, la vara de breeze, la piedra, el bloque de slime, la telaraña, la bola de magma, la pata de conejo,
             el azúcar, la sandía brillante, el ojo de araña, la lágrima de ghast y el polvo de blaze también pueden destilarse 
             en frascos con agua, generando la poción banal, que actualmente no tiene utilidad práctica en alquimia.</p>
          
          <h4>3 Ingredientes de efecto</h4>
          <p>Los ingredientes de efecto se utilizan para imbuir a la poción rara con un efecto específico, sin alterar su duración
             ni su intensidad. Si alguno de estos ingredientes se destila directamente en una botella de agua —sin una poción base
             —, el resultado será una poción banal. La única excepción es la zanahoria dorada, que no puede ser destilada 
             directamente en agua para crear una poción.
          </p>
          <ul>
            <li><strong>To bold text</strong>, use <code
                class="language-plaintext highlighter-rouge">&lt;strong&gt;</code>.</li>
            <li><em>To italicize text</em>, use <code class="language-plaintext highlighter-rouge">&lt;em&gt;</code>.
            </li>
            <li>Abbreviations, like <abbr title="HyperText Markup Language">HTML</abbr> should use <code
                class="language-plaintext highlighter-rouge">&lt;abbr&gt;</code>, with an optional <code
                class="language-plaintext highlighter-rouge">title</code> attribute for the full phrase.</li>
            <li>Citations, like <cite>— Mark Otto</cite>, should use <code
                class="language-plaintext highlighter-rouge">&lt;cite&gt;</code>.</li>
            <li><del>Deleted</del> text should use <code class="language-plaintext highlighter-rouge">&lt;del&gt;</code>
              and <ins>inserted</ins> text should use <code
                class="language-plaintext highlighter-rouge">&lt;ins&gt;</code>.</li>
            <li>Superscript <sup>text</sup> uses <code class="language-plaintext highlighter-rouge">&lt;sup&gt;</code>
              and
              subscript <sub>text</sub> uses <code class="language-plaintext highlighter-rouge">&lt;sub&gt;</code>.</li>
          </ul>
          <p>Most of these elements are styled by browsers with few modifications on our part.</p>
          <h2>Heading</h2>
          <p>This is some additional paragraph placeholder content. It has been written to fill the available space and
            show how a longer snippet of text affects the surrounding content. We'll repeat it often to keep the
            demonstration flowing, so be on the lookout for this exact same string of text.</p>
          <h3>Sub-heading</h3>
          <p>This is some additional paragraph placeholder content. It has been written to fill the available space and
            show how a longer snippet of text affects the surrounding content. We'll repeat it often to keep the
            demonstration flowing, so be on the lookout for this exact same string of text.</p>
          <pre><code>Example code block</code></pre>
          <p>This is some additional paragraph placeholder content. It's a slightly shorter version of the other highly
            repetitive body text used throughout.</p>
        </article>

        <article class="blog-post">
          <h2 class="display-5 link-body-emphasis mb-1">Another blog post</h2>
          <p class="blog-post-meta">December 23, 2020 by <a href="#">Jacob</a></p>

          <p>This is some additional paragraph placeholder content. It has been written to fill the available space and
            show how a longer snippet of text affects the surrounding content. We'll repeat it often to keep the
            demonstration flowing, so be on the lookout for this exact same string of text.</p>
          <blockquote>
            <p>Longer quote goes here, maybe with some <strong>emphasized text</strong> in the middle of it.</p>
          </blockquote>
          <p>This is some additional paragraph placeholder content. It has been written to fill the available space and
            show how a longer snippet of text affects the surrounding content. We'll repeat it often to keep the
            demonstration flowing, so be on the lookout for this exact same string of text.</p>
          <h3>Example table</h3>
          <p>And don't forget about tables in these posts:</p>
          <table class="table ">
            <thead>
              <tr>
                <th>Ingrediente</th>
                <th>Nombre y efecto</th>
                <th>Descripción</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><img src ="/images/alquimiapng/azucar.png"></td>
                <td>10</td>
                <td>11</td>
              </tr>
              <tr>
                <td><img src ="/images/alquimiapng/azucar.png"></td>
                <td>4</td>
                <td>3</td>
              </tr>
              <tr>
                <td><img src ="/images/alquimiapng/azucar.png"></td>
                <td>7</td>
                <td>9</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td>Totals</td>
                <td>21</td>
                <td>23</td>
              </tr>
            </tfoot>
          </table>

          <p>This is some additional paragraph placeholder content. It's a slightly shorter version of the other highly
            repetitive body text used throughout.</p>
        </article>

        <article class="blog-post">
          <h2 class="display-5 link-body-emphasis mb-1">New feature</h2>
          <p class="blog-post-meta">December 14, 2020 by <a href="#">Chris</a></p>

          <p>This is some additional paragraph placeholder content. It has been written to fill the available space and
            show how a longer snippet of text affects the surrounding content. We'll repeat it often to keep the
            demonstration flowing, so be on the lookout for this exact same string of text.</p>
          <ul>
            <li>First list item</li>
            <li>Second list item with a longer description</li>
            <li>Third list item to close it out</li>
          </ul>
          <p>This is some additional paragraph placeholder content. It's a slightly shorter version of the other highly
            repetitive body text used throughout.</p>
        </article>

        <nav class="blog-pagination" aria-label="Pagination">
          <a class="btn btn-outline-primary rounded-pill" href="#">Older</a>
          <a class="btn btn-outline-secondary rounded-pill disabled" aria-disabled="true">Newer</a>
        </nav>

      </div>

      <div class="col-md-4">
        <div class="p-4 mb-3 bg-body-tertiary rounded">
          <h4 class="fst-italic">About</h4>
          <p class="mb-0">
            Customize this section to tell your visitors a little bit about your publication, writers, content, or
            something else entirely. Totally up to you.
          </p>
          <img src="/images/alquimiapng/Alquimia-Recetas.webp" alt="Imagen de las distintas combinaciones"
            class="img-fluid mt-3 rounded shadow">
        </div>


        <div>
          <h4 class="fst-italic">Recent posts</h4>
          <ul class="list-unstyled">
            <li>
              <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top"
                href="#">
                <svg class="bd-placeholder-img" width="100%" height="96" xmlns="http://www.w3.org/2000/svg"
                  aria-hidden="true" preserveAspectRatio="xMidYMid slice">
                  <rect width="100%" height="100%" fill="#777" />
                </svg>
                <div class="col-lg-8">
                  <h6 class="mb-0">Example blog post title</h6>
                  <small class="text-body-secondary">January 15, 2024</small>
                </div>
              </a>
            </li>
            <li>
              <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top"
                href="#">
                <svg class="bd-placeholder-img" width="100%" height="96" xmlns="http://www.w3.org/2000/svg"
                  aria-hidden="true" preserveAspectRatio="xMidYMid slice">
                  <rect width="100%" height="100%" fill="#777" />
                </svg>
                <div class="col-lg-8">
                  <h6 class="mb-0">This is another blog post title</h6>
                  <small class="text-body-secondary">January 14, 2024</small>
                </div>
              </a>
            </li>
            <li>
              <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top"
                href="#">
                <svg class="bd-placeholder-img" width="100%" height="96" xmlns="http://www.w3.org/2000/svg"
                  aria-hidden="true" preserveAspectRatio="xMidYMid slice">
                  <rect width="100%" height="100%" fill="#777" />
                </svg>
                <div class="col-lg-8">
                  <h6 class="mb-0">Longer blog post title: This one has multiple lines!</h6>
                  <small class="text-body-secondary">January 13, 2024</small>
                </div>
              </a>
            </li>
          </ul>
        </div>

        <div class="p-4">
          <h4 class="fst-italic">Archives</h4>
          <ol class="list-unstyled mb-0">
            <li><a href="#">March 2021</a></li>
            <li><a href="#">February 2021</a></li>
            <li><a href="#">January 2021</a></li>
            <li><a href="#">December 2020</a></li>
            <li><a href="#">November 2020</a></li>
            <li><a href="#">October 2020</a></li>
            <li><a href="#">September 2020</a></li>
            <li><a href="#">August 2020</a></li>
            <li><a href="#">July 2020</a></li>
            <li><a href="#">June 2020</a></li>
            <li><a href="#">May 2020</a></li>
            <li><a href="#">April 2020</a></li>
          </ol>
        </div>

        <div class="p-4">
          <h4 class="fst-italic">Elsewhere</h4>
          <ol class="list-unstyled">
            <li><a href="#">GitHub</a></li>
            <li><a href="#">Social</a></li>
            <li><a href="#">Facebook</a></li>
          </ol>
        </div>
      </div>
    </div>
    </div>

    </main>

    <footer class="py-5 text-center text-body-secondary bg-body-tertiary">
      <p>Blog template built for <a href="https://getbootstrap.com/">Bootstrap</a> by <a
          href="https://x.com/mdo">@mdo</a>.</p>
      <p class="mb-0">
        <a href="#">Back to top</a>
      </p>
    </footer>
    <script defer src="../assets/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"></script>

  </body>

  </html>