<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>WikiCraft - Crafteos</title>
  <link href="../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="icon" href="../images/favicon.png" type="image/x-icon">
  <link href="../css/styles.css" rel="stylesheet">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark shadow-sm">
    <div class="container">
      <a class="minecraft-logo" href="#"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item"><a class="nav-link" href="../views/Index.html">Inicio</a></li>
          <li class="nav-item"><a class="nav-link" href="../views/bloques.html">Bloques</a></li>
          <li class="nav-item"><a class="nav-link" href="/mobs">Mobs</a></li>
          <li class="nav-item"><a class="nav-link active" href="../views/crafteos.html">Crafteos</a></li>
          <li class="nav-item"><a class="nav-link" href="../views/alquimia.html">Alquimia</a></li>
          <li class="nav-item"><a class="nav-link" href="../views/comunidad.html">Comunidad</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <section class="py-5 text-center text-white">
    <div class="container">
      <h2 class="display-4">Crafteos en Minecraft</h2>
      <p class="lead text-center">Aprende a construir herramientas, bloques y objetos esenciales para sobrevivir y
        prosperar.</p>
    </div>
  </section>

  <br>

  <div class="container mb-5 main-content-section">
    <!-- FILA 1: Introducción y tip de supervivencia arriba -->
    <div class="row mb-5">
      <div class="col-md-8">
        <h2>Que es el crafteo</h2>
        <p class="text-white">El crafteo es el proceso mediante el cual los jugadores combinan recursos para crear
          herramientas, armas,
          armaduras y bloques funcionales. Usando una mesa de trabajo, se pueden desbloquear miles de combinaciones
          distintas esenciales para avanzar en el juego.</p>

        <section class="py-4 text-white">
          <div class="container">
            <h2>Crafteos de herramientas, armas y armaduras</h2>
            <p>En Minecraft, muchas herramientas, armas y piezas de armadura comparten la misma forma de elaboración,
              pero varían en el material utilizado. Cada material determina la durabilidad, velocidad o eficacia del
              objeto. A continuación se presenta una lista organizada de los crafteos disponibles según el tipo de
              objeto y el material empleado.</p>
          </div>
        </section>
      </div>

      <div class="col-md-4">
        <section class="py-4">
          <div class="container">
            <h2>Tip de supervivencia</h2>
            <p class="text-white">Una mesa de trabajo es esencial para desbloquear la mayoría de los crafteos. Coloca 4
              bloques de madera en
              el inventario y empieza a construir.</p>
            <img src="/images/crafteos/Mesadecrafteo.png" class="img-fluid mt-3 rounded shadow" alt="Mesa de crafteo">
          </div>
        </section>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <article class="blog-post">
          <section class="py-4">
            <div class="row align-items-start mb-5">
              <div class="col-md-6">
                <h2>Picos</h2>
                <br>
                <ul class="text-white">
                  <li><strong>Madera:</strong> 3 bloques de madera + 2 palos</li>
                  <li><strong>Piedra:</strong> 3 bloques de piedra + 2 palos</li>
                  <li><strong>Hierro:</strong> 3 lingotes de hierro + 2 palos</li>
                  <li><strong>Oro:</strong> 3 lingotes de oro + 2 palos</li>
                  <li><strong>Diamante:</strong> 3 diamantes + 2 palos</li>
                  <li><strong>Netherite:</strong> Pico de diamante + 1 lingote de netherite</li>
                </ul>
              </div>
              <div class="col-md-6 text-center">
                <img src="/images/crafteos/picos.jpg" class="img-craft" alt="Crafteos de picos">
              </div>
            </div>
            <div class="row align-items-start mb-5">
              <div class="col-md-6">
                <h2>Hachas</h2>
                <br>
                <ul class="text-white">
                  <li><strong>Madera:</strong> 3 bloques de madera + 2 palos</li>
                  <li><strong>Piedra:</strong> 3 bloques de piedra + 2 palos</li>
                  <li><strong>Hierro:</strong> 3 lingotes de hierro + 2 palos</li>
                  <li><strong>Oro:</strong> 3 lingotes de oro + 2 palos</li>
                  <li><strong>Diamante:</strong> 3 diamantes + 2 palos</li>
                  <li><strong>Netherite:</strong> Hacha de diamante + 1 lingote de netherite</li>
                </ul>
              </div>
              <div class="col-md-6 text-center">
                <img src="/images/crafteos/hachas.jpg" class="img-craft" alt="Crafteos de hachas">
              </div>

              <div class="row align-items-start mb-5">
                <div class="col-md-6">
                  <h2>Palas</h2>
                  <br>
                  <ul class="text-white">
                    <li><strong>Madera:</strong> 1 bloque de madera + 2 palos</li>
                    <li><strong>Piedra:</strong> 1 bloque de piedra + 2 palos</li>
                    <li><strong>Hierro:</strong> 1 lingote de hierro + 2 palos</li>
                    <li><strong>Oro:</strong> 1 lingote de oro + 2 palos</li>
                    <li><strong>Diamante:</strong> 1 diamante + 2 palos</li>
                    <li><strong>Netherite:</strong> Pala de diamante + 1 lingote de netherite</li>
                  </ul>
                </div>
                <div class="col-md-6 text-center">
                  <img src="/images/crafteos/palas.jpg" class="img-craft" alt="Crafteos de palas">
                </div>
              </div>

              <br>

              <div class="row align-items-start mb-5">
                <div class="col-md-6">
                  <h2>Espadas</h2>
                  <br>
                  <ul class="text-white">
                    <li><strong>Madera:</strong> 2 bloques de madera + 1 palo</li>
                    <li><strong>Piedra:</strong> 2 bloques de piedra + 1 palo</li>
                    <li><strong>Hierro:</strong> 2 lingotes de hierro + 1 palo</li>
                    <li><strong>Oro:</strong> 2 lingotes de oro + 1 palo</li>
                    <li><strong>Diamante:</strong> 2 diamantes + 1 palo</li>
                    <li><strong>Netherite:</strong> Espada de diamante + 1 lingote de netherite</li>
                    <li><strong>Arco:</strong> 3 palos + 3 cuerdas</li>
                  </ul>
                </div>
                <div class="col-md-6 text-center">
                  <img src="/images/crafteos/espadas.png" class="img-craft" alt="Crafteos de espadas">
                </div>
              </div>

              <div class="row align-items-start mb-5">
                <div class="col-md-6">
                  <h2>Armaduras</h2>
                  <h3>Casco</h3>
                  <ul class="text-white">
                    <li><strong>Cuero:</strong> 5 unidades de cuero</li>
                    <li><strong>Hierro:</strong> 5 lingotes de hierro</li>
                    <li><strong>Oro:</strong> 5 lingotes de oro</li>
                    <li><strong>Diamante:</strong> 5 diamantes</li>
                    <li><strong>Netherite:</strong> Casco de diamante + 1 lingote de netherite</li>
                  </ul>
                  <h3>Pechera</h3>
                  <ul class="text-white">
                    <li><strong>Cuero:</strong> 8 unidades de cuero</li>
                    <li><strong>Hierro:</strong> 8 lingotes de hierro</li>
                    <li><strong>Oro:</strong> 8 lingotes de oro</li>
                    <li><strong>Diamante:</strong> 8 diamantes</li>
                    <li><strong>Netherite:</strong> Pechera de diamante + 1 lingote de netherite</li>
                  </ul>
                  <h3>Pantalones</h3>
                  <ul class="text-white">
                    <li><strong>Cuero:</strong> 7 unidades de cuero</li>
                    <li><strong>Hierro:</strong> 7 lingotes de hierro</li>
                    <li><strong>Oro:</strong> 7 lingotes de oro</li>
                    <li><strong>Diamante:</strong> 7 diamantes</li>
                    <li><strong>Netherite:</strong> Pantalones de diamante + 1 lingote de netherite</li>
                  </ul>
                  <h3>Botas</h3>
                  <ul class="text-white">
                    <li><strong>Cuero:</strong> 4 unidades de cuero</li>
                    <li><strong>Hierro:</strong> 4 lingotes de hierro</li>
                    <li><strong>Oro:</strong> 4 lingotes de oro</li>
                    <li><strong>Diamante:</strong> 4 diamantes</li>
                    <li><strong>Netherite:</strong> Botas de diamante + 1 lingote de netherite</li>
                  </ul>
                </div>
                <div class="col-md-6 text-center">
                  <img src="/images/crafteos/armaduras.png" class="img-craft" alt="Crafteos de armaduras">
                </div>
              </div>

              <div class="container">
                <div class="row">

                  <div class="col-lg-6 mb-4">
                    <h2 class="mb-4">Crafteos Utilitarios</h2>
                    <h3>Para que se usan los bloques utilitarios</h3>
                    <p class="text-white">En Minecraft, existen bloques especiales que cumplen funciones avanzadas más allá de la
                      construcción básica. A estos se les conoce como <strong>bloques utilitarios</strong>. Sirven para
                      cocinar, encantar, mejorar herramientas, automatizar procesos o asignar profesiones a los
                      aldeanos.
                      Algunos permiten interactuar con ítems de manera especializada (como el telar o el cortapiedras),
                      mientras que otros son clave para el progreso en el juego (como el alto horno o la mesa de
                      herrería).</p>

                    <p class="text-white">Estos bloques se colocan como cualquier otro y se activan haciendo clic derecho sobre ellos.
                      Muchos
                      también son necesarios para comerciar con aldeanos o automatizar procesos con redstone.</p>

                    <ul class="text-white">
                      <li><strong>Alto horno:</strong> Funde minerales más rápido que un horno normal.</li>
                      <li><strong>Ahumador:</strong> Cocina alimentos el doble de rápido.</li>
                      <li><strong>Compostador:</strong> Convierte materia vegetal en polvo de hueso.</li>
                      <li><strong>Soporte para pociones:</strong> Necesario para elaborar pociones.</li>
                      <li><strong>Lectern (atril):</strong> Permite leer libros y sirve para asignar profesiones.</li>
                      <li><strong>Mesa de herrería:</strong> Mejora herramientas a netherite.</li>
                      <li><strong>Cartografía:</strong> Duplica mapas y extiende su área.</li>
                      <li><strong>Barrel (barril):</strong> Funciona como cofre pero se abre con bloques encima.</li>
                      <li><strong>Loom (telar):</strong> Diseña estandartes personalizados.</li>
                      <li><strong>Stonecutter:</strong> Alternativa a la mesa de trabajo para bloques de piedra.</li>
                      <li><strong>Linternas, sillas, molinos, marcos, macetas, fogatas:</strong> Añaden funcionalidad y
                        estética al entorno.</li>
                    </ul>
                  </div>

                  <div class="col-lg-6 d-flex justify-content-center align-items-center">
                    <img src="/images/crafteos/crafteosutilitarios.jpeg" alt="Bloques utilitarios en Minecraft"
                      class="img-fluid rounded shadow w-100" style="max-width: 600px;">
                  </div>
          </section>

      </div>
    </div>
    </section>
    </article>
  </div>
  </div>
  </div>

  <footer class="py-4 text-center">
    <div class="container">
      <small>© 2025 Grupo más lindo de la FISEI.</small>
    </div>
  </footer>

  <script defer src="../assets/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>