<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>WikiCraft</title>
  <link href="../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="icon" href="../images/favicon.png" type="image/x-icon">
  <link href="../css/styles.css" rel="stylesheet">

</head>

<body class="bg-light">
  <nav class="navbar navbar-expand-lg navbar-dark shadow-sm">
    <div class="container">
      <a class="minecraft-logo" href="#"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" href="#">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../views/bloques.html">Bloques</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/mobs">Mobs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../views/crafteos.html">Crafteos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../views/alquimia.html">Alquimia</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../views/comunidad.html">Comunidad</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <section class="py-5 text-center text-white">
    <div class="container">
      <h1 class="display-4">¡Bienvenido a WikiCraft</h1>
      <p class="lead text-center">Todo lo que necesitas saber para sobrevivir y construir en el mundo de Minecraft.</p>
    </div>
  </section>

  <div class="container my-5">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
      <div class="col">
        <div class="card shadow-sm h-100">
          <div class="card-body">
            <h5 class="card-title">Bloques</h5>
            <p class="card-text">Descubre los materiales de construcción más épicos y resistentes.</p>
            <a href="bloques.html" class="btn btn-minecraft">Ver Bloques</a>
            
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm h-100">
          <div class="card-body">
            <h5 class="card-title">Mobs</h5>
            <p class="card-text">Conoce a todas las criaturas que habitan en tu mundo cuadrado.</p>
            <a href="/mobs" class="btn btn-minecraft">Ver Mobs</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm h-100">
          <div class="card-body">
            <h5 class="card-title">Crafteos</h5>
            <p class="card-text">Aprende a crear herramientas, armas y mucho más con nuestras guías.</p>
            <a href="../views/crafteos.html" class="btn btn-minecraft">Ver Crafteos</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm h-100">
          <div class="card-body">
            <h5 class="card-title">Alquimia</h5>
            <p class="card-text">Aprende magia, pociones y todo sobre encantamientos en tu batalla cuadrada.</p>
            <a href="../views/alquimia.html" class="btn btn-minecraft">Ver Pociones</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm h-100">
          <div class="card-body">
            <h5 class="card-title">Comunidad</h5>
            <p class="card-text">Descubre historias que han sido creadas por la comunidad.</p>
            <a href="../views/crafteos.html" class="btn btn-minecraft">Ver historias</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  

  <section class="minecraft-section py-5 text-center text-white">
    <div class="container">
      <h2 class="text-center mb-4">Ultimas Noticias de Minecraft</h2>
      <div id="minecraft-news" class="row g-4"></div>
    </div>
  </section>  

  <footer class="py-4 text-center">
    <div class="container">
      <small>© 2025 Grupo más lindo de la FISEI.</small>
    </div>
  </footer>

  <script type="module" src="../main.js"></script>

</body>

</html>